<h1>Search Results for <%= @stock.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span><%= @stock.name %></span>
    </div>
    <div class="col-md-4">
      <span><%= @stock.ticker %></span>
    </div>
    <div class="col-md-4">
      <span><%= @stock.last_price %></span>
    </div>
  </div>
</div>